/* page scope  */
:root {
  --primary-color: #c5dbec;
  --main-container-color: #ffffff;
  --nav-color1: #82cfeb;
  --nav-color2: #a0a3b3;
  --section-bg: #c5bcbc;
  --sub-Section-bg: #d7cccc;
  --font-family: "Karla", sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  margin: auto;
  background-color: var(--primary-color);
  font-family: var(--font-family);
}

.main-container {
  background-color: var(--main-container-color);
  margin: auto;
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  background-image: linear-gradient(var(--nav-color1), var(--nav-color2));
  position: sticky;
  padding: 0 1%;
  max-width: 100vw;
  top: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

nav img {
  width: 80px;
  border-radius: 50px;
  border: 2px solid black;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 5px;
}

nav a {
  text-decoration: none;
}

.about-me,
.skills,
.works {
  background-color: var(--section-bg);
  padding: 2%;
  margin: 2% 0;
}

.responsive-main-box {
  background-color: var(--sub-Section-bg);
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.responsive-main-box li {
  padding: 1% 0;
}

.first-project-pic img {
  max-width: 60vw;
  height: auto;
}

.other-projects-pic img {
  width: 180px;
  height: auto;
}

.contact-me ul {
  list-style-type: none;
}

.contact-me li {
  padding-top: 3%;
}

.contact-me a:hover {
  color: rgb(172, 37, 172);
}

img:hover {
  opacity: 80%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queries for page responsiveness */
/* Mobile first approach, so the meida query is for larger screens */
@media (min-width: 768px) {
  .main-container {
    max-width: 1400px;
    margin: 0 10%;
  }

  nav {
    max-width: 1400px;
    flex-direction: row;
    justify-content: space-between;
  }

  nav img {
    position: relative;
    left: -100px;
  }

  nav ul {
    position: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
  }

  nav ul li {
    float: left;
    padding: 10px 10px;
  }

  .responsive-main-box {
    flex-direction: row;
  }

  .works .responsive-main-box {
    display: flex;
    flex-direction: column;
  }

  .first-project-pic img {
    max-width: 50vw;
    height: auto;
  }

  .other-projects-pic img {
    width: 250px;
    height: auto;
  }
  .small-pics-styling {
    display: flex;
    flex-direction: row;
  }
  .heading-pic-styling {
    text-align: center;
    padding: 1% 5%;
  }

  .contact-me ul {
    display: flex;
    justify-content: space-evenly;
  }
}
