/* :root{
    variables for color, font family, 
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-color: #e6eff6 !important; /* change based on design requirments */
  font-family: "Karla", sans-serif !important; /* change based on design requirments */
}

.background-picture {
  /* background-image: url(/images/header.jpg); */
  height: 100px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
}

nav {
  background-image: linear-gradient(#82cfeb, #a0a3b3);
  position: sticky;
  width: 100vw;
  top: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}
/* main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-color: #e6eff6 !important; 
  font-family: "Karla", sans-serif !important; change based on design requirments */
/* } */

.about-me {
  background-color: blanchedalmond;
}

.skills {
  background-color: darkseagreen;
}

.works {
  background-color: aquamarine;
}

.contact-me {
  background-color: pink;
}
/* for big screen */
@media (min-width: 768px) {
  .main {
    align-items: flex-start;
  }

  nav {
    flex-direction: row;
  }
}

footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
